#upload-status
{
	padding:				10px 0;
}

#upload-status h4.overall-title,
#upload-status h4.current-title
{
	margin: 10px 0;
	font-size: 11px;
}

#upload-status .progress
{
	background:				white url(../images/uploader/progress.gif) no-repeat;
	background-position:	+50% 0;
	margin-right:			0.5em;
}

#upload-status .progress-text
{
	font-size:				0.9em;
	font-weight:			bold;
}

#upload-list
{
	list-style:				none;
	margin:					0;
	
	margin-bottom:			10px;
	max-height:				240px;
	overflow: auto;
}

#upload-list li.file { background: url(../images/uploader/file.png) no-repeat 0 12px; }

#upload-list li.file.file-uploading { background-image:		url(../images/uploader/uploading.png) }

 d
#upload-list li.file.file-success
{
	background-image:		url(../images/uploader/success.png);
}
#upload-list li.file.file-failed
{
	background-image:		url(../images/uploader/failed.png);
}

#upload-list li.file .file-name
{
	font-size:				11px;
	margin-left:			25px;
	display:				block;
	clear:					left;
	line-height:			40px;
	height:					40px;
}

#upload-list li.file .file-size
{
	font-size:				11px;
	line-height:			18px;
	float:					right;
	margin-top:				2px;
	margin-right:			10px;
}
#upload-list li.file .file-info
{
	display:				block;
	margin-left:			44px;
	font-size:				0.9em;
	line-height:			20px;
}
#upload-list li.file .file-remove
{
	clear:					right;
	float:					right;
	line-height:			18px;
	margin-right:			10px;
}	